@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

form{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #bdbdbd;
    border-radius:10px;
    padding: 4px 12px;
}
form input {
    border: none;
    background-color: transparent;
    width: 100%;
}

form input:focus-visible{
    outline: none;
}

form button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.corpo{
    margin-bottom: 20px;
}

#cidade{
    text-align: center;
    margin-bottom: 5px;
}
#infos{
    text-align: center;
    margin: 20px;
    width: 800px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 300px;
}
#outrasInfos #dia #semana{

    text-align: center;
    margin: 10px;
    width: 800px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
}
#max, #min, #chuva{
    font-size: 35px;
    margin-bottom: none;
}

#valorTempo{
    font-size: 100px;
    margin: none;
    padding-bottom: none;
    float: left;
}
.clima{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#dia #primeiraDia{
    height: 100px;
    width: 100px;

}
#dia, #semana{
    margin-bottom: 20px;
}
hr{
    margin-bottom: 20px;
    margin-top: 20px;
}
#segundaSemana{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    
}
#tipo{
    height: 150px;
    width: 150px;
    float: left;
}
#organiza {
display: flex;
margin-top: 50px;

}
#organiza > #cidade{
    margin-right: 30px;    
}
#direita #esquerda{
    flex: 10;
    margin: 10px;
    width: 350px;
    height: 220px;
    margin: 10px;
    
    background-color: blue;
}

h4{
    
    margin-bottom: 20px;
}
#botao{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    margin-bottom: 50px;
    
}
#botao > #bnt-notificacoes{
    margin-right: 10px;
}
#botao > #bnt-perfil{
    cursor:pointer;
}
#bnt-notificacoes, #bnt-perfil{
    background-color: transparent;
    border: none;
    width: 100%;
    color: black;
    font-size: 20px;
    margin-right: 30px;
}
#bnt-notificacoes, #bnt-perfil:focus-visible{
    outline: none;
    
}
#bnt-partilha{
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}