@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#container{
    border-radius: 20px;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);   

}
form{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #bdbdbd;
    border-radius:10px;
    padding: 4px 12px;
}
form input {
    border: none;
    background-color: transparent;
    width: 100%;
}

form input:focus-visible{
    outline: none;
}

form button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.corpo{
    margin-top: 20px;
}

#cidade{
    text-align: center;
    margin-bottom: 5px;
}
#infos{
    text-align: center;
}
#max-min{
    font-size: 12px;
    margin: none;
}

#valorTempo{
    font-size: 80px;
    margin: none;
    padding-bottom: none;
}
#clima{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 60px;
}

#dia #primeiraDia{
    height: 35px;
    width: 35px;

}
#segundaSemana{
    height: 50px;
    width: 50px;
    
}